<!DOCTYPE html>
<html lang="en">
<head>
    <style>p.ex1 {
        direction: rtl;
        unicode-bidi: bidi-override;
      }
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروش لوازم آرایشی</title>
    <link rel="stylesheet" type="text/css"  href="/static/makeup/css/style.css">
</head>
<body>
    <h1> محصولات آرایشی </h1>
    <h3>فروشگاه تازه تاسیس آیلین و برادران </h3>
    <p class="ex1">این متن از چپ به راست است</p>
    <div>thats gonna grow</div>
    <p>این یک پارارگراف است</p>
</body>
</html>